@font-face {
    font-family: 'Baguet Script';
    src: url("fonts/Baguet Script.otf");
}

@font-face {
    font-family: 'Baguet Script Bold';
    src: url("fonts/Baguet Script Bold.otf");
}
@font-face {
    font-family: 'Ozard_bold';
    src: url("fonts/Ozard Bold.otf");
}

.text-container {
    text-align: center;
}
body{
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    
    
}

#home{ 
    background-image: url('photos/demande 4.jpeg');
    background-size: cover; 
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
    
}

#mairie{
    background-image: url('photos/anneaux sur bqt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height : 100vh;
    display: flex;
    text-align: center;
 
 
   justify-content: center;


}
h1 {
    font-size: 80px;
    font-style: italic;
    color: #e3a988;
    font-family: 'Baguet Script', sans-serif;
    display: flex; /* Utilisation de flexbox */
    justify-content: center; /* Centrer horizontalement */
    text-align: center;
    margin-bottom: 0; /* Suppression de l'espace en dessous */
    margin-top: 0;
}


h2{
    font-size : 400%;
    font-style: italic;
    color : #bf8a3d;
    font-family: 'Baguet Script', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 0;
}
p{
    color:#bf8a3d;
    font-size: 50px;
    font-style: italic;
    font-weight: 500;
    font-family: "Dancing Script", cursive;

}

#countdown{
    background-color: #F5EEE6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Add this line to display children vertically */
    gap: 10px;
    height: 100vh;
}


.tag{
    width: 75px;
    padding : 15px;
    border-radius: 10px;
    background-color: #87693a ; /* #e3a988 */
    color: white;
    text-align: center;
}

.value{
    display: block;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Baguet Script', sans-serif;
}

.label{
    text-align: center;
    font-style: bold;
    font-size: 110%;
}

#oui{
    font-family: 'Baguet Script Bold', sans-serif;
    color: #bf8a3d;
    font-style: italic;
    opacity: 1; 
   font-size: 350%;
   margin-top: 0;
   margin-bottom: 5%;
}


#timer{
   
    text-align: center;
    display: flex;
    gap: 0.7vw;
    /* display: line; */
}

#fond_transparent{
    margin: 5%;
    width: 35vw;
    height: 75vh;
    background: rgba(255, 255, 255, 0.3); /* Ajoutez une opacité au fond transparent */
}

#txt_mairie{
    color: black;
    font-family: 'Baguet Script', sans-serif;
    font-size: 200%;
    font-style: normal;
    
    opacity: 1; /* Rendre le texte complètement opaque */
    margin-top: 0;
}

#RSVP {
    background-color: #F5EEE6;
    height: 100vh;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; Pour centrer le texte à l'intérieur des éléments enfants */
}


.response{
    background-color: #f4e5d5;
    height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Rlabel{
    font-size: 150%;
    gap: 3vw;
}

input[type="text"]
{
    height : 3vh;
    width: 20vw;
}

input[type="number"]
{
    height: 3vh;
    width: 10vw;
}

input[name="messageMariés"] {
    width: 25vw;
    height: 10vh;
    padding: 1px; /* Add padding to ensure enough space for the placeholder */
    
}

input[name="messageMariés"]::placeholder {
    font-size: 80%; /* Reduce the font size of the placeholder */
     /* Set position to absolute */
    top: 0; /* Position placeholder at the top */
    left: 0; /* Position placeholder at the left */
    padding-top: 1px; /* Add padding to ensure enough space around the text */
    /* justify-content: top;
    margin-bottom: 0;
    text-align: top; */
}




.checkbox-field {
    display: flex;
    align-items: center;
}

.checkbox-field input[type="checkbox"] {
    margin-right: 10px; /* Espace entre la checkbox et le label */
}

.check_choice{
    display: flex;
    justify-content: center;
    font-size: 150%;
    margin-bottom: 0;
    font-style: italic;
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 0.7% 2.5%; /* Espace intérieur du bouton (2% en haut/bas, 5% à gauche/droite) */
    margin-top: 3%; /* Espacement entre le bouton et le contenu précédent */
    border: 3px solid #bf8a3d; /* Bordure de 2px solide de couleur */
    background-color: transparent; /* Fond transparent */
    color: #bf8a3d; /* Couleur du texte */
    text-decoration: none; /* Supprimer le soulignement par défaut sur le lien */
    font-size: 2vw; /* Taille de la police (2.5% de la largeur de la fenêtre) */
    font-weight: bold; /* Gras */
    font-family: 'Dancing Script', cursive; /* Police */
    transition: background-color 0.3s, color 0.3s; /* Transition douce pour les changements de couleur */
    justify-content: center;
    align-items: center;
    
}

.btn:hover {
    background-color: #bf8a3d; /* Changement de couleur de fond au survol */
    color: #fff; /* Changement de couleur du texte au survol */
}

#rep{
    font-size : 300%;
    font-style: italic;
    color : #d9946c;
    font-family: 'Baguet Script', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.soirée{
    height: 130vh;
    background-color: #F5EEE6;
    font-family: 'Baguet Script', sans-serif;
    color : black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0;
}

.invitation-container {
    display: flex; /* Utilisation de Flexbox */
    justify-content: space-between; /* Les éléments enfants sont distribués de manière à ce que les marges extérieures soient égales */
    align-items: center; /* Alignement vertical au centre */
}

#prnt1 {
    margin-left: 5%;
    font-family: 'Baguet Script', sans-serif;
    font-size: 250%;
    color: black;
}

#prnt2 {
    margin-right: 5%;
    font-family: 'Baguet Script', sans-serif;
    font-size: 250%;
    color: black;
}

.txt_soirée{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Baguet Script', sans-serif;
    font-size: 250%;
    color: black;
    margin-bottom: 0;

}

.nom{
    display: flex;
    justify-content: center;
    font-family: "Dancing Script", cursive;
    font-size: 500%;
    color: #bf8a3d;
    margin-bottom: 0;
    margin-top: 0;

}
.nom_h{
    display: flex;
    justify-content: center;
    /* font-family: "Noto Serif Hebrew", cursive; */
    font-family: 'Ozard_bold', cursive;
    font-size: 500%;
    color: #bf8a3d;
    margin-bottom: 0;
    margin-top: 0;
}
.amp{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 120%;
    color: #bf8a3d;
    margin-bottom: 0;
    margin-top: 0.3;
}



.separation{
    margin: 0;
    border-color: #d9946c;
    
}

#overlay {
    background-image:linear-gradient(#e3a988 , #fffaf4);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffaf4; /* Semi-transparent black background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1; /* Initially visible */
    transition: opacity 0.5s; /* Smooth transition for opacity change */
  }
  
  #overlay.hidden {
    opacity: 0; /* Make overlay invisible */
    pointer-events: none; /* Disable pointer events on the hidden overlay */
  }

  .btnLink{
    /* margin-top: 10vh; */
    display: inline-block;
    padding: 0.4% , 2%; /* Espace intérieur du bouton (2% en haut/bas, 5% à gauche/droite) */
    /* margin-top: 3%; Espacement entre le bouton et le contenu précédent */
    border: 3px solid #bf8a3d; /* Bordure de 2px solide de couleur */
    background-color: transparent; /* Fond transparent */
    color: #bf8a3d; /* Couleur du texte */
    text-decoration: none; /* Supprimer le soulignement par défaut sur le lien */
    font-size: 170%; /* Taille de la police (2.5% de la largeur de la fenêtre) */
    font-weight: bold; /* Gras */
    font-family: 'Dancing Script', cursive; /* Police */
    transition: background-color 0.3s, color 0.3s; /* Transition douce pour les changements de couleur */
    /* justify-content: center;
    align-items: center; */
    
}

.btnLink:hover {
    background-color: #bf8a3d; /* Changement de couleur de fond au survol */
    color: #fff; /* Changement de couleur du texte au survol */
}

#overlayCtnt{
    font-family: "dancing script", cursive;
    font-size: 900%;
    color: #bf8a3d;
    font-style: italic;
    -webkit-text-stroke-color: #D49E7F;
    -webkit-text-stroke-width: 0.5px;
    margin-bottom: 10vh;}

    .sendemail{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1%;
        font-size: 120%;
        border-radius: 5rem;
        padding: 1% 3%;

    }
    
    .contact{
        height: 7vh;
        background-color: #F5EEE6;
        /* padding: 5%; */
        display: inline-flex;
        justify-content: center; /* Les éléments enfants sont distribués de manière à ce que les marges extérieures soient égales */
        align-items: center; /*Alignement vertical au centre */
        font-size: 100%;   
        width: 100vw;     
    }

    .contactBtn{
        text-decoration: none;
        color: black;
        border: 2px solid black;
        border-radius: 5%;
        padding: 1% 5%;
        border-radius: 5rem;
        /* background-color: white;
        
        border-radius: 5000px; */
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }

    .mail{
        padding-right: 1%;
        font-size: 110%;
  
    }

   .insta{
        padding-right: 1%;
        font-size: 110%;
       
   }

 /* Styles par défaut */

/* Ajoutez ici vos styles CSS existants */

/* Point de rupture pour les téléphones */
@media only screen and (max-width: 600px) {
    .text-container {
        text-align: center;
        font-size: 160%;
    }
    body{
        margin: 0;
        margin-top: 0;
        margin-bottom: 0;
        /* background-color: #F5EEE6; */
        width: auto;
        
    }
    
    #home {
        background-image: url('photos/demande_5_7.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom; /* Pour centrer l'image */
        text-align: bottom;
        height: 80vh;
        width: auto;
        padding-top: 3vh;
        font-size: 150%;
        
        
    }
    #title{
        /* background-color: #F3F3F5; */
        font-size: 200%;
        -webkit-text-stroke-color: #D49E7F;
        -webkit-text-stroke-width: 0.1px;
    } 
    
   /* #footer{
        background-color: #F5EEE6;
    } */
    
    #mairie{
        background-image: url('photos/bqt_tel.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height : 80vh;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    
    
    }
    h1 {
        font-size: 100%;
        font-style: italic;
        color: #e3a988;
        font-family: 'Baguet Script', sans-serif;
        display: flex; /* Utilisation de flexbox */
        justify-content: center; /* Centrer horizontalement */
        text-align: center;
        margin-bottom: 0; /* Suppression de l'espace en dessous */
        /* margin-top: 5%; */
        
    }
    
    
    h2{
        font-size : 150%;
        font-style: italic;
        color : #bf8a3d;
        font-family: 'Baguet Script', sans-serif;
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
    p{
        color:#bf8a3d;
        font-size: 160%;
        font-style: italic;
        font-weight: 500;
        font-family: "Dancing Script", cursive;
    
    }
    
    #countdown{
        background-color: #F5EEE6;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; /* Add this line to display children vertically */
        gap: 10px;
        height: 70vh;
    }
    
    
    .tag{
        width: 5vh;
        height: 5vh;
        padding : 5vw;
        border-radius: 10%;
        background-color: #87693a ; /* #e3a988 */
        color: white;
        /* text-align: center; */
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .value{
        display: block;
        font-weight: 700;
        font-size: 30px;
        font-family: 'Baguet Script', sans-serif;
        
    }
    
    .label{
        text-align: center;
        font-style: bold;
        font-size: 100%;
        justify-content: center;
        display: flex;
        
    }
    
    #oui{
        font-family: 'Baguet Script Bold', sans-serif;
        color: #bf8a3d;
        font-style: italic;
        opacity: 1; 
       font-size: 200%;
       margin-top: 0;
       margin-bottom: 5%;
    }
    
    
    #timer{
       
        text-align: center;
        display: flex;
        gap: 0.7vw;
        /* display: line; */
    }
    
    #fond_transparent {
        /*margin: 5%;*/
        width: 78vw;
        height: 75vh;
        background: rgba(237, 227, 227, 0.7); /* Ajoutez une opacité au fond transparent */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 120%;
       
    }
    
    #txt_mairie{
        color: black;
        font-family: 'Baguet Script', sans-serif;
        font-size: 150%;
        font-style: normal;
        
        opacity: 1; /* Rendre le texte complètement opaque */
        margin-top: 0;
    }
    
    #RSVP {
        background-color: #F5EEE6;
        height: 90vh;
        padding-top: 3vh;
        /* display: flex; */
        /* flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; Pour centrer le texte à l'intérieur des éléments enfants */
    }
    
    #hRep{
        font-size: 200%;
    }

    .response{
        background-color: #f4e5d5;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .Rlabel{
        font-size: 150%;
        gap: 3vw;
    }
    
    input[type="text"]
    {
        height : 3vh;
        width: 45vw;
    }
    
    input[type="number"]
    {
        height: 3vh;
        width: 30vw;
    }
    
    input[name="messageMariés"] {
        width: 60vw;
        height: 10vh;
        padding: 1px; /* Add padding to ensure enough space for the placeholder */
        
    }
    
    input[name="messageMariés"]::placeholder {
        font-size: 80%; /* Reduce the font size of the placeholder */
         /* Set position to absolute */
        top: 0; /* Position placeholder at the top */
        left: 0; /* Position placeholder at the left */
        /* Add padding to ensure enough space around the text */
        /* justify-content: top;
        margin-bottom: 0;
        text-align: top; */
        justify-content: top;
        align-items: top;
        text-align: top;
    }
    
    
    
    .checkbox-field {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .checkbox-field input[type="checkbox"] {
        margin-right: 10px; /* Espace entre la checkbox et le label */
    }
    
    .check_choice{
        display: flex;
        justify-content: center;
        font-size: 120%;
        margin-bottom: 0;
        font-style: italic;
        font-weight: bold;
        align-items: center;
        text-align: center;
    }
    
    .btn {
        display: inline-block;
        padding: 2% 5%; /* Espace intérieur du bouton (2% en haut/bas, 5% à gauche/droite) */
        margin-top: 3%; /* Espacement entre le bouton et le contenu précédent */
        border: 2px solid #bf8a3d; /* Bordure de 2px solide de couleur */
        background-color: transparent; /* Fond transparent */
        color: #bf8a3d; /* Couleur du texte */
        text-decoration: none; /* Supprimer le soulignement par défaut sur le lien */
        font-size: 5vw; /* Taille de la police (2.5% de la largeur de la fenêtre) */
        font-weight: bold; /* Gras */
        font-family: 'Dancing Script', cursive; /* Police */
        transition: background-color 0.3s, color 0.3s; /* Transition douce pour les changements de couleur */
        justify-content: center;
        align-items: center;
        
    }
    
    .btn:hover {
        background-color: #bf8a3d; /* Changement de couleur de fond au survol */
        color: #fff; /* Changement de couleur du texte au survol */
    }
    
    #rep{
        font-size : 150%;
        font-style: italic;
        color : #d9946c;
        font-family: 'Baguet Script', sans-serif;
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
    
    .soirée{
        height: 60vh;
        background-color: #F5EEE6;
        font-family: 'Baguet Script', sans-serif;
        color : black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 0;
    }
    
    .invitation-container {
        display: flex; /* Utilisation de Flexbox */
        justify-content: space-between; /* Les éléments enfants sont distribués de manière à ce que les marges extérieures soient égales */
        align-items: center; /* Alignement vertical au centre */
    }
    
    #prnt1 {
        margin-left: 5%;
        font-family: 'Baguet Script', sans-serif;
        font-size: 100%;
        color: black;
    }
    
    #prnt2 {
        margin-right: 5%;
        font-family: 'Baguet Script', sans-serif;
        font-size: 100%;
        color: black;
    }
    
    .txt_soirée{
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Baguet Script', sans-serif;
        font-size: 100%;
        color: black;
        margin-bottom: 0;
    
    }
    
    .nom{
        display: flex;
        justify-content: center;
        font-family: "Dancing Script", cursive;
        font-size: 200%;
        color: #bf8a3d;
        margin-bottom: 0;
        margin-top: 0;
    
    }
    .nom_h{
        display: flex;
        justify-content: center;
        /* font-family: "Noto Serif Hebrew", cursive; */
        font-family: 'Ozard_bold', cursive;
        font-size: 200%;
        color: #bf8a3d;
        margin-bottom: 0;
        margin-top: 0;
    }
    .amp{
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: "Dancing Script", cursive;
        font-size: 100%;
        color: #bf8a3d;
        margin-bottom: 0;
        margin-top: 0.3;
    }
    /* #deco_soirée{
    } */


    #overlay{
        height: 90vh;

    }


    #overlayCtnt{
        font-family: "dancing script", cursive;
        font-size: 700%;
        color: #bf8a3d;
        font-style: italic;
        -webkit-text-stroke-color: #D49E7F;
        -webkit-text-stroke-width: 0.5px;
        margin-bottom: 10vh;
        
        
    }

    .btnLink{
        margin-top: 10vh;
        display: inline-block;
        padding: 2% 8%; /* Espace intérieur du bouton (2% en haut/bas, 5% à gauche/droite) */
        margin-top: 3%; /* Espacement entre le bouton et le contenu précédent */
        border: 3px solid #bf8a3d; /* Bordure de 2px solide de couleur */
        background-color: transparent; /* Fond transparent */
        color: #bf8a3d; /* Couleur du texte */
        text-decoration: none; /* Supprimer le soulignement par défaut sur le lien */
        font-size: 5vw; /* Taille de la police (2.5% de la largeur de la fenêtre) */
        font-weight: bold; /* Gras */
        font-family: 'Dancing Script', cursive; /* Police */
        transition: background-color 0.3s, color 0.3s; /* Transition douce pour les changements de couleur */
        justify-content: center;
        align-items: center;
        
    }

    .btnLink:hover {
        background-color: #bf8a3d; /* Changement de couleur de fond au survol */
        color: #fff; /* Changement de couleur du texte au survol */
    }


    .sendemail{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        font-size: 150%;
        border-radius: 5rem;
        padding: 2% 5%;

    }

    .contact{
        height: 5vh;
        width: 90vw;
        background-color: #F5EEE6;
        padding: 5%;
        display: inline-flex;
        /* display: flex; Utilisation de Flexbox */
        /* justify-content: center; Les éléments enfants sont distribués de manière à ce que les marges extérieures soient égales */
        
        font-size: 100%;
        
    }

    .contactBtn{
        text-decoration: none;
        color: black;
        border: 2px solid black;
        border-radius: 5%;
        padding: 1% 8%;
        border-radius: 5rem;
        /* background-color: white;
        
        border-radius: 5000px; */
        font-weight: 500;
        
        white-space: nowrap;
        
    }

    .mail{
        padding-right: 1%;
        font-size: 110%;
  
    }

   .insta{
        padding-right: 1%;
        font-size: 100%;
       
   }

  }
  

